
@font-face {
    font-family: 'museo_sans_cyrl500';
    src: url('museosanscyrl500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans_cyrl500';
    src: url('museosanscyrl500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}